/*Take out the comments around each rule.

Try changing the display property*/
span{
    background-color: red;
/*      display: block; */
}

p{
         background-color: yellow;
/*       padding: 25px; */
}

    
div{
      width: 20%;
      height: 25px;
      margin:20px;
/* 		   display: inline-block; */
          background-color: green;
/*         overflow:scroll; */
}