/* Do these need to be reordered? */

@media only screen and (min-width: 1024px) {
    h1{ 
  background: blue;
  width:25%;
}
}


h1{ 
width:100%;
background: green; 
}



@media only screen and (min-width: 780px) {
    h1{ 
  background: yellow; 
  width:50%;
  color:white;
}
}
